<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
      <h1>Upload an Image</h1>
    <form 
      action="/analyze" 
      method="post" 
      enctype="multipart/form-data"
    >
      <input type="file" name="image" />
      <button type="submit">Upload & Analyze</button>
    </form>

  </body>
</html>
